@charset "UTF-8";
/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: transparent;
  outline: none;
}
a:hover {
  color: rgba(242, 175, 44, 1);
  text-decoration: none;
}

.piMT10 {
  margin-top: 10px;
}
.piM20{
  margin:20px;
}
.piMT20 {
  margin-top: 20px;
}
.piMT70 {
  margin-top: 70px;
}

/* .pihome-slides {} */

.pihome-slides{
  width: 100%;
  height: auto;
  min-height: 300px;
  min-width: 639px;
}

.piheader-img > img {
  
  height: auto;
  min-width: 634px;
  min-height: 180px;
  width: 100%;
}

.piheader-txt {
  /* text-align: center;
  margin-top: -100px;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
  min-height: 100px; */
  color: rgba(255, 0, 0, 0.72);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
 }

.piselected {
  color: rgba(242, 175, 44, 1);
}

.piabout {
  display: grid;
  grid-template-columns: 10% auto 10%;
  color: #333;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
/*new common styles*/
.piheader-img {
  position: relative;
  text-align: center;
  margin-top: 70px;
}
.piM20{
  margin:20px;
}
