.modal-dialog {
    max-width: 835px !important;
 }
 .close{
    font-size: 3rem;
  }
  .d-flex{
    justify-content: space-between;
  }
.modal-header{
    padding: 0px 1rem !important;
}
.image-border > img{
border:6px solid #ccc;
}

@media (min-width:768px) and (max-width:991px){
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
button.close:hover{
outline:none;
}
.modal-header{
  border-bottom:none;
}
.modal-footer{
 border-top:none;
}