@charset "UTF-8";
/* CSS Document */
.piheader {
  display: grid;
  grid-template-columns: 10% 60px 150px auto 10%;
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
  color: #fff;
  background-color: rgba(85, 85, 85, 0.8);
  z-index: 2;
  /* min-width: 540px; */
}

.pilogo {
  height: 50px;
  width: 50px;
}

/* .pilogo-text-tagline {
  display: none;
} */

.pilogo-text {
  font-size: 23px;
  padding-top: 10px;
}

.pilogo-tagline {
  font-size: 10px;
  font-style: italic;
}

.pinav {
  padding-top: 23px;
}

.pinav > nav > ul {
  display: flex;
  float: right;
}

.pinav > nav > ul > li {
  list-style: none;
  padding: 0px 5px;
  margin: 2px 4px;
  font-size: 14px;
  text-decoration: none;
}
/* css toggle navigation */

#menuToggle {
  display: none;
}
@media(max-width:420px){
  #menuToggle{
    left:18px !important;
  }
}
@media screen and (max-width: 720px) {
  .hide {
    display: none !important;
  }
  #menuToggle {
    /* display: flex;
     -webkit-user-select: none; */
    float: right;
    display: block;
    position: relative;
    top: 4px;
    left: 35px;
    z-index: 1;
    user-select: none;
  }
  #menuToggle input {
    /* display: flex;
    -webkit-touch-callout: none; */
    float: right;
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
   
  }
  #menuToggle span {
    display: block;
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px -1px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      /* background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; */
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 250px;
    margin: -54px 0 0 -180px;
    padding: 40px;
    padding-top: 75px;
    padding-bottom: 20px;
    background: rgba(85, 85, 85, 0.8);
    list-style-type: none;
    /* -webkit-font-smoothing: antialiased; */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 0.9;
  }
  #menu li {
    padding: 10px 0;
    font-size: 18px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
.piPT20{
  padding-top: 20px !important;
}
.piselected {
  color: rgba(242, 175, 44, 1.00);
}