.pi-works-container {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.pi-works-popup {
  margin: auto;
  background: #fff;
  border-radius: 25px;
  width: 80%;
  position: relative;
  height: 80vh;
  overflow: scroll;
}

.pi-works-popup-item {
  margin: 20px;
  display: grid;
  grid-template-columns: auto 1%;
  grid-gap: 5px;
}

.pi-works-popmodel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-template-areas: "a b b";
  height: 80vh;
  width: 100%;
}

.pi-works-popmodel1 {
  grid-template-areas: "a b b";
}

.pi-works-popmodel2 {
  grid-template-areas: "b b a";
}

.pi-works-popmodel3 {
  grid-template-areas: "b a c";
}

.pi-works-item1 {
  grid-area: a;
}

.pi-works-item2 {
  grid-area: b;
}

.pi-works-item3 {
  grid-area: c;
}

.pi-works-indicators {
  display: flex;
}

.pi-works-Mauto {
  margin: auto;
}

.pi-works-dots {
  height: 15px;
  width: 15px;
  background: #bbb;
  border-radius: 50%;
  display: block;
  margin: 5px;
}

.pi-works-item3-dnone {
  display: none;
}