* {
  box-sizing: border-box;
}
form {
  margin: 20px;
}
label {
  margin: 10px;
}
.btn {
  margin-left: 25%;
}
.btn > input {
  width: 25%;
  margin-top: 10px;
}
.err {
  border: 1px solid red;
}
input,
textarea {
  width: 100% !important;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}
textarea {
  height: 100px;
}
/* .row {
    
  } */
.col-25 {
  width: 25%;
  float: left;
}
.col-75 {
  width: 70%;
  float: left;
  margin:10px;
}
input[type="submit"] {
  width: 25% !important;
}

@media (max-width: 719px) {
  .col-25,
  .col-75,
  input {
    width: 100%;
    margin-top: 5px;
  }
  .btn {
    margin-left: 0%;
  }
}
.err-msg {
  color: red;
  margin: 10px;
}
.required {
  color: red;
}
.country-code{
 width:10% !important;
  margin-right:1%;
  min-width:55px
}
.number{
  display:flex;
  justify-content: space-between
}
