* {
  box-sizing: border-box;
}
form {
  margin: 20px;
}
.w20 {
  width: 20%;
}
.err {
  border: 1px solid red !important;
}
.err-msg {
  color: red;
  margin: 10px;
}
.w40 {
  width: 40%;
}
.w10{
  width:10%;
}
.w10 >input{
  border-radius: 5px;
  padding: 8px;
  border: 1px solid grey;
  width: 40px;
 
}
.w40>.number{
  width:60% !important;
}
.w40 > input,
textarea {
  border-radius: 5px;
  padding: 8px;
  border: 1px solid grey;
  width: 70%;
}
.btn {
  margin-left: 20.5%;
}
.row {
  display: flex;
  margin: 10px;
}
.required {
  color: red;
}
@media (max-width: 720px) {
  .row {
    display: block;
    margin: 10px;
  }
  .w20,
  .w40,
  {
    width: 100%;
    margin: 10px;
  }
  .btn{
      margin-left:10px;
  }
}
