.dot {
  width: 24px !important;
  border-radius: 0 !important;
  height: 2px !important;
  box-shadow: none !important;
  opacity: 0.5 !important;
}
.dot.selected {
  opacity: 1 !important;
}

.control-dots {
  background-color: black;
  opacity: 0.5;
  padding-bottom: 10px;
}
.bg {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  min-height: 720px;
  background-repeat: no-repeat;
}

.bg1 {
  background-image: url(../../../public/images/pihome-img01.jpg);
}
.bg2 {
  background-image: url(../../../public/images/pihome-img02.jpg);
}
.bg3 {
  background-image: url(../../../public/images/pihome-img03.jpg);
}
.bg4 {
  background-image: url(../../../public/images/pihome-img04.jpg);
}
.bg5 {
  background-image: url(../../../public/images/pihome-img05.jpg);
}
.bg6 {
  background-image: url(../../../public/images/pihome-img06.jpg);
}
/* /Extra small */
@media (max-width: 576px) {
  .bg {
    min-height: 300px;
  }
}
/* small */
@media (min-width: 577px) and(max-width:767px) {
    .bg {
      min-height: 400px;
    }
  }
  /* medium */
  @media (min-width: 768px) and(max-width:991px) {
    .bg {
      min-height: 700px;
    }
  }
  /* large */
  @media (min-width: 991px){
    .bg {
      min-height: 920px;
    }
  }